<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Control panel</h1>
    <div>
        <form id="update-form">
            <label for="wateringDuration">Watering duration</label>
            <input type="range" name="wateringDuration" id="wateringDuration" min="0" max="100" step="1">
            <p id="wateringValue"></p>

            <label for="wateringPercent">watering %</label>
            <input type="range" name="wateringPercent" id="wateringPercent" min="0" max="100" step="1">
            <p id="wateringPercentValue"></p>

            <label for="tankDepth">Tank depth</label>
            <input type="range" name="tankDepth" id="tankDepth" min="0" max="100" step="1">
            <p id="tankDepthValue"></p>
            <p id="errortext"></p>


            <button type="submit">Update</button>
        </form>
    </div>



<script>
    document.addEventListener("DOMContentLoaded", () => {

        
        document.getElementById('update-form').addEventListener('submit', function(event) {
            event.preventDefault()
            let formData = {
                wateringDuration: document.getElementById('wateringDuration').value,
                wateringPercent: document.getElementById('wateringPercent').value,
                tankDepth: document.getElementById('tankDepth').value,
                id: 1,
            };
            fetch("http://localhost:3000/api/control-panel/update", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('errortext').innerText = data.message;
            })
            .catch(error => {
                console.error('Error: ', error);
            });
        })

        const wateringSlider = document.getElementById("wateringDuration");
        const wateringValue = document.getElementById("wateringValue")
        const percentSlider = document.getElementById("wateringPercent");
        const percentValue = document.getElementById("wateringPercentValue");
        const tankValue = document.getElementById("tankDepthValue");
        const tankSlider = document.getElementById("tankDepth");

        percentValue.innerText = `${percentSlider.value} %`;
        wateringValue.innerText = `${wateringSlider.value} s`;
        tankValue.innerText = `${tankSlider.value} cm`

        percentSlider.addEventListener("input", () => {
            percentValue.innerText = `${percentSlider.value} %`;
        })
    
        wateringSlider.addEventListener("input",() => {
            wateringValue.innerText = `${wateringSlider.value} s`;
        })

        tankSlider.addEventListener("input", () => {
            tankValue.innerText = `${tankSlider.value} cm`
        })
        
    })
</script>
</body>
</html>