<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><a href="http://localhost:3000/">vissza</a></h3>
    <h1>Control panel</h1>
    <div>
        <form id="update-form">
            <label for="wateringDuration">Watering duration</label>
            <input type="range" name="wateringDuration" id="wateringDuration" min="0" max="100" step="1" value="1">
            <p id="wateringValue"></p>

            <label for="wateringPercent">watering %</label>
            <input type="range" name="wateringPercent" id="wateringPercent" min="0" max="100" step="1" value="0">
            <p id="wateringPercentValue"></p>

            <label for="tankDepth">Tank depth</label>
            <input type="range" name="tankDepth" id="tankDepth" min="0" max="100" step="1" value="1">
            <p id="tankDepthValue"></p>
            <p id="errortext"></p>


            <button type="submit">Update</button>
        </form>
    </div>



<script src="./controlPanelScript.js"></script>
</body>
</html>