<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino</title>
</head>
<body>
    <h2><a href="http://localhost:3000/control-panel">control panel</a></h2>
    <div class="data-container">
        <div class="data-item" id="temperature"></div>
        <div class="data-item" id="humidity"></div>
        <div class="data-item" id="moisture"></div>
        <div class="data-item" id="waterLevel"></div>
        <div class="data-item" id="light"></div>
        <div class="data-item" id="createdAt"></div>
    </div>


    <script src="./indexScript.js"></script>
</body>
</html>